body{
    background-color: rgb(10, 10, 10);
}

.box{
    width: 400px;
    height: 300px;
    top: 40%;
    left:40%;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    text-align: center;
}
.box > h1{
color: blueviolet;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background:none;
    display: block;
    margin: 20px auto;
    border: 3px solid rgb(0, 255, 195);
    padding: 14px 10px;
    text-align: center;
    outline: none;
    width: 220px;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]{
    width: 270px;
    border-color: aqua;
}
.box input[type="submit"]{
    border: 0;
    background:none;
    display: block;
    margin: 20px auto;
    border: 3px solid aqua;
    padding: 14px 30px;
    text-align: center;
    outline: none;
    color: wheat;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: orange;
}